:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Lora", sans-serif;
    --third-family: "Roboto", sans-serif;
}

:root {
    --background-color: #1E252B;
    --color-white: #FFFFFF;
    --color-white-90: #e6e6e6;
    --color-button: #FF6E30;
    --background-form: #283036;
}

.container {
    width: 1224px;
    margin: 0 auto;
}

.flex {
    display: flex;
    width: 1215px;
    height: 48px
}

.header {
    padding-top: 27px;
    padding-bottom: 104px;
    background-color: #1E252B;
}

.logo-link {
    display: flex;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    margin-right: 257px;
    color: var(--color-white-90);
}

.logo-img {
    margin-right: 21.37px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    width: 431px;
    justify-content: space-between;
    align-items: center;
    margin-right: 193px;
}

.nav-link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.55);
}

.auth-list {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 203px;
}

.login-link {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.78);
}

.signup-link {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #fdf5ff;
    padding: 12px 28px;
    border-radius: 8px;
    ;
    background-color: var(--color-button);
}

.hero {
    padding-bottom: 200px;
    background-color: var(--background-color);
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    top: 146px;
    left: 1170px;
    width: 100%;
    height: 100%;
    background-image: url("../images/hero.background.png");
    background-repeat: no-repeat;
}

.hero-titel {
    font-family: var(--font-family);
    width: 600px;
    font-weight: 500;
    font-size: 50px;
    line-height: 140%;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.9);
}

.point {
    color: #FF6E30;
}

.hero-text {
    width: 487px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    margin-bottom: 60px;
    color: rgba(255, 255, 255, 0.55);
}

.hero-form {
    display: flex;
    align-items: center;
    border-radius: 15px;
    width: 497px;
    height: 64px;
    padding: 8px 11px 8px 18px;
    margin-bottom: 110px;
    background: var(--background-form);
}

.hero-input {
    width: 468px;
    height: 48px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    margin-left: 13.04px;
    color: rgba(255, 255, 255, 0.38);
    background-color: var(--background-form);
    border: none;
}

.hero-button {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    padding: 12px 36.12px;
    border-radius: 8px;
    background-color: var(--color-button);
    color: var(--color-white);
}

.hero-link-list {
    display: flex;
    justify-content: space-between;
    width: 190px;
    height: 58px;
}

.hero-link {
    margin-right: 8px;
}

.tools {
    background-color: var(--background-color);
    padding-bottom: 200px;
}

.tools-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 90px;
    width: 455px;
    height: 147px;
}

.tools-main-titel {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    margin-bottom: 25px;
    color: rgba(255, 255, 255, 0.9);
}

.tools-main-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 167%;
    text-align: center;
    width: 427px;
    color: rgba(255, 255, 255, 0.55);
}

.tools-list {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    gap: 25px;
    row-gap: 50px;
}

.tools-item {
    display: flex;
    flex-wrap: wrap;
    width: 392px;
    height: 294px;
    border-radius: 15px;
    flex-basis: calc((100% - 50px)/3);
}

.tools-item:hover,
.newcomer-item:hover {
    background-image: radial-gradient(circle at top right, #3C3432, rgb(40, 48, 54, 0.6) 20%);
    backdrop-filter: blur(50px);
}

.tools-titel {
    font-family: var(--font-family);
    height: 36px;
    font-weight: 500;
    font-size: 24px;
    margin-top: 33px;
    margin-bottom: 3px;
    color: rgba(255, 255, 255, 0.9);
}

.plan-box {
    display: flex;
    flex-direction: column;
}

.tools-plan-text {
    font-family: var(--font-family);
    height: 27px;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 165, 55, 0.55);
}

.tools-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    color: rgba(255, 255, 255, 0.55);
    margin-left: 33px;
    margin-bottom: 30px;
}

.svg-box {
    width: 326px;
    height: 41px;
    margin-left: 33px;
    margin-bottom: 33px;
}

.like-svg {
    width: 42px;
    /* margin-right: 12px; */
}

.folder-svg {
    width: 42px;
    margin-right: 124px;
}

.tools-link {
    border-radius: 8px;
    width: 106px;
    height: 42px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    padding: 9px 35px 9px 35px;
    color: rgba(255, 255, 255, 0.55);
}

.tools-link:hover {
    border-radius: 8px;
    width: 106px;
    height: 42px;
    padding: 9px 35px 9px 35px;
    color: var(--color-white);
    background-color: var(--color-button);
}

.tools-item:nth-child(1)::before {
    display: flex;
    flex-direction: column;
    width: 64px;
    height: 64px;
    background-image: url(../images/grommet-icons_figma.png);
    background-repeat: no-repeat;
    content: '';
    margin: 33px 30px 30px 33px;
}

.tools-item:nth-child(2)::before {
    display: flex;
    width: 64px;
    height: 64px;
    background-image: url(../images/logos_sketch.png);
    background-repeat: no-repeat;
    content: '';
    margin: 33px 30px 30px 33px;
}

.tools-item:nth-child(3)::before {
    display: flex;
    width: 64px;
    height: 64px;
    background-image: url(../images/logos_visual-studio-code.png);
    background-repeat: no-repeat;
    content: '';
    margin: 33px 30px 30px 33px;
}

.tools-item:nth-child(4)::before {
    display: flex;
    width: 64px;
    height: 64px;
    background-image: url(../images/notion.png);
    background-repeat: no-repeat;
    content: '';
    margin: 33px 30px 30px 33px;
}

.tools-item:nth-child(5)::before {
    display: flex;
    width: 64px;
    height: 64px;
    background-image: url(../images/grommet-icons_slack.png);
    background-repeat: no-repeat;
    content: '';
    margin: 33px 30px 30px 33px;
}

.tools-item:nth-child(6)::before {
    display: flex;
    width: 64px;
    height: 64px;
    background-image: url(../images/logos_invision-icon.png);
    background-repeat: no-repeat;
    content: '';
    margin: 33px 30px 30px 33px;
}

.tools-list:nth-child(2) {
    margin-bottom: 100px;
}

.tools-button {
    display: block;
    /* justify-content: center; */
    /* align-items: center; */
    width: 184px;
    height: 64px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    /* margin-top: 100px; */
    margin: 0 auto;
    color: var(--color-button);
    background-color: var(--background-color);
}

.brand {
    padding-bottom: 323px;
    background-color: var(--background-color);
}

.flex-brand {
    /* display: block; */
    /* flex-wrap: wrap; */
    border-radius: 25px;
    width: 1224px;
    height: 253px;
    background-image: radial-gradient(circle at top left, #4b2f33, rgb(255, 0, 0, 0) 12%);
    backdrop-filter: blur(50px);
    background-color: rgba(44, 53, 61, 0.2);
}

.brand-titel {
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    padding-top: 55px;
    margin-bottom: 55px;
    color: rgba(255, 255, 255, 0.8);
}

.brand-list {
    display: flex;
    justify-content: space-between;
    padding-left: 84px;
    width: 1059px;
}

.microsoft-img {
    width: 193px;
    height: 42px;
}

.google-img {
    width: 157px;
    height: 51px;
}

.slack-img {
    width: 194px;
    height: 49px;
}

.wordpress-img {
    width: 194px;
    height: 44px;
}

.newcomer {
    padding-bottom: 77px;
    background-color: var(--background-color);
}

.newcomer-flex {
    display: flex;
    justify-content: space-between;
}

.newcomer-list {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 638px;
    column-gap: 24px;
    row-gap: 50px;
}

.newcomer-item {
    display: flex;
    flex-wrap: wrap;
    width: 288px;
    height: 284px;
    border-radius: 15px;
}

.newcomer-item::before {
    display: flex;
    flex-direction: column;
    width: 64px;
    height: 64px;
    margin: 29px 30px 31px 22px;
    background-image: url(../images/zeplin.png);
    background-repeat: no-repeat;
    content: '';
}

.newcomer-item:nth-child(2)::before {
    display: flex;
    flex-direction: column;
    width: 64px;
    height: 64px;
    background-image: url(../images/phpstorm.png);
    background-repeat: no-repeat;
    content: '';
}

.newcomer-item:nth-child(3)::before {
    display: flex;
    flex-direction: column;
    width: 64px;
    height: 64px;
    background-image: url(../images/tool\ box.png);
    background-repeat: no-repeat;
    content: '';
}

.newcomer-item:nth-child(4)::before {
    display: flex;
    flex-direction: column;
    width: 64px;
    height: 64px;
    margin: 29px 30px 31px 22px;
    background-image: url(../images/procreate.png);
    background-repeat: no-repeat;
    content: '';
}

.newcomer-box {
    width: 427px;
    height: 300px;
    text-align: left;
    align-items: flex-start;
}

.newcomer-titel {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    height: 62px;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.9);
}

.newcomer-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 167%;
    height: 90px;
    margin-bottom: 60px;
    color: rgba(255, 255, 255, 0.55);
}

.newcomer-explore-link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    border-radius: 8px;
    width: 198px;
    height: 58px;
    padding: 16px 40px 15px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
}

.newcomer-plan-box {
    width: 101px;
    height: 66px;
}

.newcomer-item-titel {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    height: 36px;
    margin-top: 30px;
    margin-bottom: 3px;
    color: rgba(255, 255, 255, 0.9);
}

.newcomer-plan-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    height: 27px;
    color: rgba(255, 165, 55, 0.55);
}

.newcomer-item-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    width: 245px;
    height: 60px;
    margin-left: 22px;
    color: rgba(255, 255, 255, 0.55);
}

.newcomer-svg-box {
    display: flex;
    align-items: center;
    /* text-align: center; */
    width: 245px;
    height: 42px;
    margin-left: 22px;
    margin-bottom: 28px;
}

.newcomer-like-svg {
    width: 42px;
    margin-right: 12px;
}

.newcomer-folder-svg {
    width: 42px;
}

.newcomer-link {
    border-radius: 8px;
    width: 106px;
    height: 42px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    margin-left: 43px;
    padding: 9px 35px 9px 35px;
    color: rgba(255, 255, 255, 0.55);
}

.newcomer-link:hover {
    border-radius: 8px;
    width: 106px;
    height: 42px;
    padding: 9px 35px 9px 35px;
    color: var(--color-white);
    background-color: var(--color-button);
}

.team {
    padding-bottom: 250px;
    background-color: var(--background-color);
}

.flex-team {
    display: flex;
    justify-content: center;
}

.container-team {
    display: flex;
    justify-content: center;

}

/* .container-team::before {
    position: absolute;
    margin-left: 130px;
    content: '';
    width: 12px;
    height: 24px;

    background-image: url(../images/Vector.png);
    background-position: right;
    background-repeat: no-repeat;
} */

.team-box {
    display: flex;
    width: 399px;
    height: 487.08px;
}

.img-team {
    z-index: 1;
}

.radial {
    position: absolute;
    width: 380px;
    height: 380px;
    background-image: url(../images/radial.png);
    background-repeat: no-repeat;
}

.border-person {
    position: absolute;
    margin-top: 357px;
    margin-left: 141px;
    border-radius: 8px;
    width: 265px;
    height: 90px;
    backdrop-filter: blur(50px);
    background: rgba(40, 48, 54, 0.2);
    z-index: 2;
}

.name-person {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 26px;
    letter-spacing: 0.01em;
    width: 220px;
    height: 39px;
    margin-bottom: 2px;
    color: rgba(255, 253, 253, 0.78);
}

.coma {
    position: absolute;
    width: 103px;
    height: 317px;
    margin-top: 70px;
    margin-left: 55px;
    background-image: url(../images/“.png);
    background-repeat: no-repeat;
    content: '';
    /* top: 80px; */
    z-index: 1;
}
.vector-left{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: left;
    margin-top: 230px;
    margin-right: 1100px;
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url(../images/Vector.png);
    background-repeat: no-repeat;

}
.vector-right{
    margin-top: 220px;
    margin-left: 1100px;
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url(../images/chevron-left.png)
}
.after{
    position: absolute;
    width: 168px;
    height: 8px;
    margin-top: 575px;
    background-image: url(../images/after.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
.work-person {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    width: 139px;
    height: 24px;
    color: rgba(255, 253, 253, 0.55);
}

/* .vector-first{
    display: flex;
    justify-content: left;
    content: '';
    width: 12px;
    height: 24px;
    background-image: url(../images/Vector.png);
    background-position: center;
    /* margin-right: 200px; */
/* }  */
/* .flex-team {
    font-weight: 500;
    font-size: 250px;
    background-image: url(../images/“.png);
    background-position: ;
    background-repeat: no-repeat
} */

/* .team-box {
    display: flex;
    text-align: center;
    justify-content: center;
} */

.team-text {
    margin-top: 120px;
    margin-left: 55px;
    width: 393px;
    height: 180px;

    font-family: var(--font-Roboto);
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    letter-spacing: 0.01em;
    color: rgba(255, 255, 255, 0.78);
}

.join {
    padding-bottom: 240px;
    background-color: var(--background-color);
}

.flex-join {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 553px;
    height: 311px;

}

.join-titel {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 25px;
    color: rgba(255, 255, 255, 0.9);
}

.join-text {
    font-family: var(--font-family);
    width: 427px;
    font-weight: 500;
    font-size: 18px;
    line-height: 167%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
    color: rgba(255, 255, 255, 0.55);
}

.join-form {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    width: 549px;
    height: 64px;
    padding: 8px 12.38px 8px 24.18px;
    background-color: var(--background-form);
}

.join-input {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    border: none;
    /* margin-right: 260px; */
    background-color: var(--background-form);
    color: rgba(255, 255, 255, 0.38);

}

.join-button {
    width: 130px;
    height: 48px;
    border-radius: 8px;
    color: var(--color-white);
    background-color: var(--color-button);
}

.footer {
    padding-top: 70px;
    background-color: var(--background-color);
    border-top: 0.50px solid rgba(255, 255, 255, 0.15);

}

.flex-footer {
    display: flex;
}

.logo-box {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 183px;
    margin-right: 156px;
}

.logo-flex {
    display: flex;
}

.footer-logo-img {
    background-color: var(--color-button);
    border-radius: 8px;
    width: 38px;
    height: 38px;
    margin-right: 12px;
    padding: 7.31px 9.46px 9.74px 9.26px;
}

.footer-logo {
    font-family: var(--font-family);
    font-weight: 600;
    width: 19.29px;
    height: 20.95px;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.9);
}

.copyright-titel {
    margin-top: 25px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
}

.copyright-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 179%;
    margin-top: 21px;
    color: rgba(255, 255, 255, 0.55);
}

.contacts-list {
    margin-right: 115px;
}

.contacts-item:nth-child(4) {
    margin-top: 10px;
}

.contacts-titel {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.9);
}

.contacts-link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.55);
}

.contacts-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.55);
}

.categories-list {
    margin-right: 115px;
}

.categories-item:nth-child(2) {
    margin-bottom: 10px;
}

.categories-titel {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.9);
}

.categories-link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.55);
}

.info-item:nth-child(3) {
    margin-top: 10px;
    margin-bottom: 10px;
}

.info-titel {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.9);
}

.info-link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.55);
}